body {
    font-family: sans-serif;
    background: rgb(202, 195, 209);
    margin: 0;
    padding: 0;
}

/* body {
  font-family: sans-serif;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.5rem;
  color: #333;
} */